
.background {
    background-image: url("/static/images/planetarium-unsplash.jpg");
}

section{
    
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 1900px;
    width: 100%;
    
}

.today-date {
    text-align: center;
    font-size: 2.5em;
    font-family: 'Space Grotesk', sans-serif;
    text-decoration: underline;

}
.sun-div {
    position: relative;
    align-items: center;
    top: 100px;
}


.sun-title {
    font-family: 'Space Grotesk', sans-serif;
    text-align: center;
    font-size: 28pt;
    text-decoration: underline;
    font-weight: 800;
}

.sun-text {
    font-family: 'Space Grotesk', sans-serif;
    text-align: center;
    font-size: 24pt;
}

.solar-aspect-title {
    font-family: 'Space Grotesk', sans-serif;
    text-align: center;
    font-size: 20pt;
    text-decoration: underline;
    font-weight: 800;
}

.solar-aspect-text {
    font-family: 'Space Grotesk', sans-serif;
    text-align: left;
    font-size: 14pt;
}

.solar-eclipse-text {
    font-family: 'Space Grotesk', sans-serif;
    text-align: center;
    font-size: 18pt;
}

.solar-ecl-title {
    font-family: 'Space Grotesk', sans-serif;
    text-align: center;
    font-size: 18pt;
    text-decoration: underline;
    font-weight: 800;
}


.moon-title {
    font-family: 'Space Grotesk', sans-serif;
    text-align: center;
    font-size: 28pt;
    text-decoration: underline;
    font-weight: 800;
}

.moon-text {
    font-family: 'Space Grotesk', sans-serif;
    text-align: center;
    font-size: 24pt;
}

.moon-div {
    position: relative;
    align-items: center;
    top: 100px;
}


.aspects-div {
    position: relative;
    align-items: center;
    top: 100px;
}

.moon-aspects-title {
    font-family: 'Space Grotesk', sans-serif;
    text-align: center;
    font-size: 18pt;
    text-decoration: underline;
    font-weight: 800;
}
.moon-aspects-text {
    font-family: 'Space Grotesk', sans-serif;
    text-align: left;
    font-size: 14pt;
}

.lunar-eclipse-div {
    position: relative;
    align-items: center;
}

.lunar-ecl-title{
    font-family: 'Space Grotesk', sans-serif;
    text-align: center;
    font-size: 18pt;
    text-decoration: underline;
    font-weight: 800;
}

.lunar-ecl-text {
    font-family: 'Space Grotesk', sans-serif;
    text-align: center;
    font-size: 18pt;
}

.inner-planets-title{
    font-family: 'Space Grotesk', sans-serif;
    text-align: center;
    font-size: 18pt;
    text-decoration: underline;
    font-weight: 800;
}
.inner-planet-text {
    font-family: 'Space Grotesk', sans-serif;
    text-align: left;
    font-size: 14pt;
}

.inner-planets {
    position: relative;
    width: 1728px;
    height: 600px;
    left: 100px;
    top: 10px;
    font-family: 'Space Grotesk', sans-serif;
}

.outer-planets-title{
    font-family: 'Space Grotesk', sans-serif;
    text-align: center;
    font-size: 18pt;
    text-decoration: underline;
    font-weight: 800;
}
.outer-planets {
    position: relative;
    width: 1728px;
    height: 600px;
    right: -100px;
    top: 70px;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 14pt
}

.date-rectangle {
    position: absolute;
    width: 500px;
    height: 75px;
    background: #C4C4C4;
    opacity: 60%;
    left: 35%;
}

.rectangle-1 {
    position: absolute;
    width: 800px;
    height: 407px;
    left: 380px;
    top: 214px;
    background: rgba(242, 242, 242, 1);
    opacity: 50%;
}

.rectangle-2 {
    width: 497px;
    height: 400px;
    left: 19px;
    top: 200px;
    background: #C4C4C4;
    position: relative;
    opacity: 50%;
    }

.rectangle-3 {

    position: absolute;
    width: 400px;
    height: 100px;
    left: 1007px;
    top: 190px;
    background: #C4C4C4;
    opacity: 80%;
        
    }

.rectangle-4 {
    position: absolute;
    width: 800px;
    height: 407px;
    left: 380px;
    top: 900px;
    background: rgba(242, 242, 242, 1);
    opacity: 50%;
}

.rectangle-5 {
    width: 497px;
    height: 400px;
    left: 19px;
    top: 450px;
    background: #C4C4C4;
    position: relative;
    opacity: 50%;

}

.rectangle-6 {
    position: absolute;
    width: 400px;
    height: 100px;
    left: 1000px;
    top: 875px;
    background: #C4C4C4;
    opacity: 80%;
}

.inner-planets {
    position: relative;
    width: 1728px;
    height: 600px;
    left: 15px;
    top: 50px;
    font-family: 'Space Grotesk', sans-serif;
}

.media-block-r {
    position: absolute;
    width: 50%;
    height: 600px;
    top: 1500px;
    background: #000000;
    opacity: 80%;

}

.media-block-l {

    position: absolute;
    width: 50%;
    height: 600px;
    top: 2100px;
    left: 720px;
    background: #000000;
    opacity: 80%;
    }

.media-block-profile {
    
position: absolute;
width: 387px;
height: 834px;
left: 694px;
top: 283px;
background: #000000;
    }
    
.profile-box-title {
position: absolute;
width: 126px;
height: 24px;
left: 72px;
top: 92px;

font-family: 'Space Grotesk', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 23px;
/* identical to box height */

display: flex;
align-items: center;
text-align: center;

color: #000000;
}
.media-box-profile {

position: absolute;
width: 279px;
height: 423px;
left: 753px;
top: 385px;
background: black;   
    }

.media-profile-text {
    position: absolute;
width: 193px;
height: 100px;
left: 39px;
top: 182px;

font-family: 'Space Grotesk', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 34px;
/* or 243% */

text-align: center;

color: rgba(0, 0, 0, 0.5);
}
.media-box {

    position: absolute;
    left: 20%;
    right: 20%;
    top: 20%;
    bottom: 20%;
    background: white;
}

.y-btn {
    position: absolute;
    left: 250px;
    right: 70%;
    bottom: -2100px;
}


.tom-btn {
    position: absolute;
    left: 69.79%;
    right: 16.32%;
    bottom: -2100px;
    font-family: 'Space Grotesk', sans-serif;
}

.tod-btn {
    position: absolute;
    left: 250px;
    right: 70%;
    bottom: -2100px;
    font-family: 'Space Grotesk', sans-serif;
}

.today-btn {
    position: absolute;
    left: 69.79%;
    right: 16.32%;
    bottom: -2100px;
    font-family: 'Space Grotesk', sans-serif;
}

.userprofile-link {
    display : none;
    font-family : 'Space Grotesk', sans-serif;
}

.profile-card {
    position: relative;
    left: 200px;
    top: 300px;
    font-family: 'Space Grotesk', sans-serif;
}






