<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="/static/stylesheet.css">
  
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
  <title>AstroForecast</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  
    <title>
      {% block title %}Astro Forecast{% endblock %}
    </title>
    
    {% block head %}
    
    {% endblock %}
    
  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">AstroForecast</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Home</a></li>
          </li>
          <li><a href="/transits">Today's Transits</a></li>
          <li><a href="/login">Login</a></li>
          <li><a href="/create-user">Register</a></li>
          <li><a href="/user-profile">User Profile</a></li>
          </ul>
    </nav>
    <img src="https://t3.ftcdn.net/jpg/04/19/07/32/240_F_419073208_xNRkwGBIqLs85hfSBWVun6Vai4qvjKcW.jpg" class="banner">

    {% for msg in get_flashed_messages() %}
    <p class="flash-msg">
      {{ msg }}
    </p>
    {% endfor %}

    {% block body %}

    {% endblock %}

    {% block after_body %}{% endblock %}

  </body>
</html>
