{% extends 'base.html' %}
{% block title %}Astrology Forecast{% endblock %}

{% block body %}
  
<div class="media-block-profile">
  <div class="media-box">
  <h3 class="profie-title">Sign Up</h3>
  <div class="create-div"> 
  <img class="create-icon" src="/static/images/moonicon.png">
  <form action="/users" method="POST">
    <p>Email </p>
      <p>
        <input type="text" name="email">
      </p>

      <p>Phone Number </p>
    <p>
       <input type="tel" name="phone" id="phone">
    </p>

    <p> Password </p>
    <p>
    <input type="password" name="password">
    </p>

    <p> Confirm Password </p>
      <p>
        <input type="password" name="confirm-password">
      </p>
    </p>
    <p>
      <input class="btn btn-default btn-rounded mb-4" type="submit">
    </p>
  </form>
</div>
</div>
</div>
{% endblock %}
</body>
</html>