{% extends 'base.html' %}
{% block title %}Astrology Forecast{% endblock %}

{% block body %}
  
<div class="media-block-r">
  <div class="media-box">
  <div class="create-div"> Sign Up
  <form action="/users" method="POST">
    <p>
      Email <input type="text" name="email">
    </p>

    <p>
      Phone Number <input type="tel" name="phone" id="phone">
    </p>

    <p>
      Password <input type="password" name="password">

      <p>
        Confirm Password <input type="password" name="confirm-password">
      </p>
    </p>
    <p>
      <input type="submit">
    </p>
  </form>
</div>
</div>
</div>
{% endblock %}
</body>
</html>