{% extends 'base.html' %}
{% block title %}Current Transits{% endblock %}

{% block body %}


<h3 class="today-date">Forecast for {{ current_date }} </h3>


<div class="rectangle-1">
<div class="sun-div">
    <h3 class="sun-title">The Sun</h3>
            <ul>
                <p class="sun-text">
                The sun is currently in <b>{{ sun_sign }}</b> 
                </p>
            </ul>
</div>
</div>

<div class="rectangle-2">
    <div class="aspect-title-div">
    <h3 class="solar-aspect-title">Current Solar Aspects</h3>
</div>
  <div class="aspects-div" id="aspects-id">
    
    <ul></ul>
{% for aspect in sun_aspects %}
<ul>  
<p class="solar-aspect-text">
{{ aspect }}
</p>
</ul>
<ul></ul>
{% endfor %}
</div>
</div>


<div class="rectangle-3">
 <div class="eclipse-div" id="solar-eclipse-id">
        <h3 class="solar-ecl-title">Upcoming Solar Eclipse</h3>
            <p class="lunar-ecl-text">
             October {{ sun_day }} {{ sun_year }}
            </p>
        </ul>
</div>
</div>


<div class="rectangle-4">
<div class="moon-div">
    <h3 class="moon-title">The Moon</h3>
                <ul>
                    <p class="moon-text">
                    The moon is {{ moon_phase }} in {{ moon_sign }}
                </p>
                </ul>
</div>
</div>

<div class="rectangle-5">
    <div class="aspect-title-div">
        <h3 class="moon-aspects-title">Current Lunar Aspects</h3>
    </div>
<div class="aspects-div" id="lunar-aspects-id">
    {% for moon_aspect in moon_aspects %}
    <ul>
        <p class="moon-aspects-text">
         {{ moon_aspect }}
        </p>
    </ul>
    <ul></ul>
    {% endfor %}
    
</div> 
</div>

<div class="rectangle-6">
    <div class="lunar-eclipse-div" id="lunar-eclipse-id">
        <h3 class="lunar-ecl-title">Upcoming Lunar Eclipse</h3>
        <ul>
            <p class="lunar-ecl-text">
            November {{ moon_day }} {{ moon_year }}
            </p>
        </ul>
</div>
</div>

<div class="media-block-r">
    <div class="media-box">
        <h3 class="inner-planets-title">Personal Planets</h3>
        <div class="inner-planets">
        <p class="inner-planet-text"> 
        <ul>
                {{ merc_retro }} in <b>{{ merc_sign }} </b>  
            </ul>
            <ul>
                Venus is in <b>{{ venus_sign }}</b>   
            </ul>
            <ul>
                Mars is in <b>{{ mars_sign }} </b>
            </ul>
            <ul>
                Jupiter is in <b>{{ jup_sign }}</b>
            </ul>
            <ul>
                Saturn is in <b>{{ sat_sign }} </b>  
            </ul>
        </p>
</div>
</div>
</div>

<div class="media-block-l">
    <div class="media-box">
        <h3 class="outer-planets-title">Generational Planets</h3>
        <div class="outer-planets">
            <p class="outer-planets-text">
            <ul>
            Neptune is in <b>{{ nept_sign }}</b>
            </ul>
            <ul>
            Uranus is in <b>{{ uran_sign }}</b>
            </ul>
            <ul>
            Pluto is in <b>{{ pluto_sign }}</b>   
            </ul>
        </p> 
    </div>
    </div>
</div>



<a href="/tomorrow-transits">
<button type="button" class="tom-btn" id="tomorrow-button">Tomorrow's Forecast</button>
</a>

<a href="/yesterday-transits">
<button type="button" class="y-btn" id="yesterday-button">Yesterday's Forecast</button>
</a>

</div>


{% endblock %}