{% extends 'base.html' %}
{% block title %}Current Transits{% endblock %}

{% block body %}
<h3 class="today-date">Today's Date is : {{ today }} </h3>
<input id="view-more" type="button" value="View More">

<div class="col-md-8"></div>
        <div class="sun-div">
            <h3>The Sun</h3>
            <div class="panel panel-info">
              <div class="panel-body">
                <ul>
                <i class="ai sun"></i>
                The sun is in: {{ sun_sign }} 
            </ul>
        </div>
    </div>
  </div>
</div>


<div class="col-md-6">
    <div class="hidden-panel panel-default">
        <div class="eclipse-div" id="eclipse-id">
        <h3>Upcoming Eclipses</h3>
        <div class="panel panel-default">
            <div class="panel-body">
        <ul>
            <i class="ai sun"></i>
            The next Solar Eclipse happens on: {{ sun_month }} {{ sun_day }} {{ sun_year }}
        </ul>
        <ul>
            <i class="ai moon-variant"></i>
            The next Lunar Eclipse happens on: {{ moon_month }} {{ moon_day }} {{ moon_year }}
        </ul>

            </div>
        </div>
        </div>
    </div>
</div>

<div class="col-md-6">
    <div class="hidden-panel panel-default">
        <div class="aspects-div" id="aspects-id">
        <h3>Current Aspects</h3>
        <div class="panel panel-default">
            <div class="panel-body">
        <ul>
            <i class="ai sun"></i>
            Aspects to sun: 
        </ul>
        <ul>
            <i class="ai moon-variant"></i>
            Aspects to moon: 
        </ul>

            </div>
        </div>
        </div>
    </div>
</div>


 
   
        <div class="col-md-12">
        <div class="moon-div">
            <h3>The Moon</h3>
            <div class="panel panel-info">
              <div class="panel-body">
                <ul>
                    <i class="ai moon-variant"></i>
                    The moon is in: {{ moon_sign }}
                </ul>
                <ul>
                    <i class="ai moon-variant"></i>
                    The moon phase is in: {{ moon_phase }} 
                </ul>
                </div>
            </div>   
    </div>
  </div>

  

        <div class="col-md-8">
    <div class="inner-planet-div">
        <h3>Personal Planets</h3>
        <div class="panel panel-default">
          <div class="panel-body">
            <ul>
                <i class="ai mercury"></i>
                Mercury is in: {{ merc_sign }}    
            </ul>
            <ul>
                <i class="ai venus"></i>
                Venus is in: {{ venus_sign }}   
            </ul>
            <ul>
                <i class="ai mars"></i>
                Mars is in: {{ mars_sign }} 
            </ul>
            <ul>
                <i class="ai jupiter"></i>
                Jupiter is in: {{ jup_sign }}   
            </ul>
            <ul>
                <i class="ai saturn"></i>
                Saturn is in: {{ sat_sign }}   
            </ul>
                </div>
            </div>
        </div>
    </div>
    </div>
 

        <div class="col-md-6">
        <div class="outer-planet-div">
            <h3>Generational Planets</h3>
             <div class="panel panel-default">
        <div class="panel-body">
    <ul>
        <i class="ai neptune"></i>
        Neptune is in: {{ nept_sign }}
    </ul>
    <ul>
        <i class="ai uranus"></i>
        Uranus is in: {{ uran_sign }}
    </ul>
    <ul>
        <i class="ai pluto"></i>
        Pluto is in: {{ pluto_sign }}    </ul>
            </div>
        </div>
    </div>
</div>
</div>





<!-- <div class="conj-div">Conjunctions</div>

<div class="sextile-div">Sextiles</div>
<div class="square-div">Squares</div>
<div class="trine-div">Trines</div> --> 

</div>

{% endblock %}