{% extends 'base.html' %}
{% block title %}Current Transits{% endblock %}

{% block body %}


<h1>Welcome back {{ session["user_email"] }}</h1>

<div class="col-sm-8">
    <div class="panel panel-default">
        <div class="profile-card">
            <h3>{{ session["user_email"] }} profile details</h3>
            <a href="/user-logout">Logout</a>
            <div class="panel panel-info">
              <div class="panel-body">
                <ul>
                Email: {{ session["user_email"] }}
                </ul>
                <ul>
                Phone number: {{ session['phone_number'] }}
                </ul>
                <ul>
                    <button type="button" id="text-button">Send me a text update!</button>
                </ul>
        </div>
    </div>
  </div>
</div>







<script src="/static/profileAJAX.js"></script>

{% endblock %}