{% extends 'base.html' %}
{% block title %}Astrology Forecast{% endblock %}

{% block body %}
<div class="media-block-profile">
  <div class="media-box">
  <h3 class="profie-title">Log In</h3>
  <img class="login-icon" src="/static/images/moonicon.png">          
<div class="login-div"> 
    <form action="/login" method="POST">
      <p>Email </p>
      <p>
        <input type="text" name="email">
      </p>
  
      <p>Password </p>
      <p>
      <input type="password" name="password">
      </p>
  
      <p>
        <input type="submit">
      </p>
    </form>
  </div>
</div>
</div>

{% endblock %}
</body>
</html>