{% extends 'base.html' %}
{% block title %}Current Transits{% endblock %}

{% block body %}



<div class="media-block-profile">
  <div class="media-box">
            <h3 class="profie-title">Profile details</h3>
            <div class="profile-card"> 
            <img class="icon" src="/static/images/moonicon.png">
            <ul>
                <p class="profile-text">Email: </p> {{ session["user_email"] }}
                </ul>
                <ul>
                  <p class="profile-text">Phone number: </p> {{ session['phone_number'] }}
                </ul>
        </div>
        <div class="text-button-div">
        <ul>
          <button type="button" id="text-button">Send me a text update!</button>
      </ul>
      </div>
      </div>






<script src="/static/profileAJAX.js"></script>

{% endblock %}